<!DOCTYPE html>
<html lang="fr" >

<head>
  <meta charset="UTF-8">
  <title>Authentification</title>
      <link rel="stylesheet" href="style.css">
</head>

  <body>
    <div class="Formulaire">
      <form action="FenetreConnexion" method="post">
      <fieldset>
        <legend>Connexion</legend>
        
        <label for="Identifiant" > Identifiant : </label><br />
        <input type="text" name="Identifiant" id="Identifiant" /><br />
        
        <label for="MotDePasse" > MotDePasse : </label><br />
        <input type="text" name="MotDePasse" id="MotDePasse" /><br />
        
        <input type="submit" name="sub" id="sub" /><br />
        
        <input type="reset" name="res" id="res" /><br />
        
        </fieldset>
      </form>
    </div>
  </body>


 </html>
